.us .us-l .contact ul li{
	float: left;
	margin-left: 70px;
}
.us .us-l .contact ul{
	margin-left: -70px;
}
.us .us-l .contact ul li .phone{
	width: 218px;
}
.us .us-l .contact ul li .phone b{
	width: 30px;
	height: 27px;
	background:url(../images/caarr.jpg);
	margin-top: 15px;
}
.us .us-l .contact ul li .phone .rig{
	background-position:-192px 0;
	margin-top: 15px;
}
.us .us-l .contact ul li .phone .numb{
	margin:0 31px;
}
.us .us-l .contact ul li .phone .numb h4{
	font-size: 24px;
	font-weight: normal;
}
.us .us-l .contact ul li .phone .numb p{
	font-size: 14px;
	margin-left: 12px;
}
.us .us-l .map{
	margin-top: 50px;
}
.us .us-l .map #box{
	width: 881px;
    height: 500px;
    border: 1px solid #ccc;
    margin-bottom:20px;
}
