.time img{
	width: 695px;
	margin:52px auto 45px;
}
.Pringles ul li{
	float: left;
	margin-left: 1px;
	width: 238px;
	height: 335px;
	overflow: hidden;
}
.Pringles ul li img{
	width: 100%;
	height: 100%;
	transform: scale(1.0);
	transition: 1.5s all ease;
}
.Pringles ul li img:hover{
	transform: scale(1.2);
}
.Pringles ul{
	margin-left: -1px;
	height: 362px;
	border-bottom:2px dashed #222;
	margin-top: 30px;
}